<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azzlay - Learn More</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'banner.html' %}
    {% include 'animation1.html' %}
    <div class="super-container">
        <h1>About Azzlay</h1>
        <div class = "more-container">
    <p>
        Azzlay is a small puzzle game designed to encourage quick, thoughtful play. The goal of this puzzle game is simply to offer a fun diversion for anyone interested. 
    </p>

    <h2>How to Play</h2>

    <h3>Playing the Game:</h3>
    <p>
        Playing is simple: just use the arrow keys on your computer to move and reach the level's objective. But be careful—each level has unique rules that you’ll need to adapt to. Go here to see the tutorial: <a href="/puzzles/tutorials">Tutorial</a>
    </p>

    <button class="back-button" onclick="window.location.href='/'">Back to Home</button>
        </div>
        
    </div>
</body>
</html>
