<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azzlay - Learn More</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'banner.html' %}
    {% include 'animation1.html' %}
    <div class="super-container">
        <h1>About Azzlay</h1>
        <div class = "more-container">
    <p>
        Azzlay is a small puzzle game designed to encourage quick, thoughtful play. The goal of this puzzle game is simply to offer a fun diversion for anyone interested. 
    </p>
    </p>
        The goal for Azzlay after the beta is to offer a new puzzle every day. What makes it exciting is that the puzzle rules will change daily, allowing you to rediscover the game with each new challenge.
    </p>

    <h2>How to Play</h2>

    <h3>Playing the Game:</h3>
    <p>
        Playing is simple: just use the arrow keys on your computer to move and reach the level's objective. But be careful—each level has unique rules that you’ll need to adapt to. Go here to see the tutorial: <a href="/puzzles/tutorials">Tutorial</a>
    </p>

    <h2>About Me</h2>
    <p>
        I’m a French engineering student. I enjoyed coding this little puzzle game in my command prompt and decided to turn it into a website. It’s my first time putting one of my programming projects online, so I’m quite pleased. At some point, I might include my GitHub here; we’ll see.
    </p>

    <p>
        That’s all! Besides this, I enjoy drawing and especially making music.
    </p>
    
    <p>
        Also, if you’d like to share your thoughts on the beta, you can do so via this form: <a href="https://forms.gle/ErEVBWFkQTbqKawKA">Super form</a>
    </p>

    <button class="back-button" onclick="window.location.href='/'">Back to Home</button>
        </div>
        
    </div>
</body>
</html>
